{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<!--<div ng-controller="FeedController">
		<div class="row-fluid post">
			<h3>Post title</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu tellus ac nunc laoreet dignissim et ut velit. Nunc massa tortor, posuere ac ante et, facilisis efficitur ligula. Quisque vel porta sapien. Sed at est at nisi iaculis aliquam. Ut et volutpat justo, elementum congue ante. Proin ut urna purus. Vivamus rhoncus elit eget ex egestas, nec volutpat risus laoreet. Nulla convallis laoreet arcu a blandit. Suspendisse convallis ac ante id euismod. Pellentesque eget laoreet diam.</p>
		</div>
	</div>-->

{% endblock %}
