{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<!--Main Section -->
    <div class="container-fluid main-container" ng-controller="UserController">
		<!--Navigation Section -->
		<div class="row-fluid row-offcanvas row-offcanvas-left" ng-controller="NavigationController">
			<div class="col-sm-3 col-md-2 sidebar">
				<!-- Search Section -->
				<div ng-controller="SearchController">
					<form id="searchForm">
						<input type="text" id="searchInput" placeholder="Search for a feed" ng-model="query" ng-keyup="$event.keyCode == 13 && addFeed()">
						
						<input type="image" onclick="location.href='/settings';" class="settings-btn" src="http://www.clker.com/cliparts/x/6/h/b/B/G/gear-grey.svg">
						<input type="image" onclick="location.href='/search';" class="settings-btn" src="https://cdn3.iconfinder.com/data/icons/buttons/512/Icon_35-512.png">
						</form> 

				</div>

				<!-- Topics Section -->
				<div> <!--ng-controller="TopicController"-->
					<a href="#" ng-click="showPopup()">Add a topic</a>
					<ul class="nav nav-sidebar" ng-repeat="topic in topics">
						<li>
							{% verbatim %}
							<a class="topicButton" href="#{{topic.name}}" ng-click="expandTopic($index)" style="float:left;">
		        				<div ng-hide="expandedIndex == $index" class="arrow-up">&#9658; {{topic.name}}</div>
		        				<div ng-show="expandedIndex == $index" class="arrow-down">&#9660; {{topic.name}}</div>
			      			</a>
			      			<input class="editTopic{{topic.id}}" type="text" id="renameInput{{topic.id}}" ng-model="newTopic.name" value="{{topic.name}}">
			      			
			      			<a href="#" class="editBtn{{topic.id}}"ng-click="toggleEdit(topic.id)" style="float:right;">edit</a>
			      			
			      			<a href="#" class="editTopic{{topic.id}}" ng-click="renameTopic(newTopic, topic.id)" style="float:right;">submit</a>
			      			
			      			<a href="#" ng-click="removeTopic(topic.id)" style="float:right;">x</a>

							<div ng-controller="TopicController"><br><br>
								<ul class="feeds" id="{{$parent.topics[$parent.$index].name}}" ng-repeat="feed in feeds" ng-show="expandedIndex == $parent.$index">
									<li>
										<a href="#" ng-click="removeFeedFromTopic(feed.id)">&#45;</a>
										<a href="#{{feed.title}}" ng-click="expandFeed(feed.id)">{{feed.title}}</a>
									</li>
								</ul>
							</div>
							{% endverbatim %}
						</li>
					</ul>
				</div>
			</div>
				<div class="dropbox">
						<ul>
							<li class="dropdown">
								<a href="/#" ng-click="predicate={{predicate}}" class="dropdown-toggle" data-toggle="dropdown">Sort by<span class="caret"></span></a>
								<ul class="dropdown-menu" role="menu">
									<li><a href="" ng-click="predicate = 'title'; reverse=false">Alphabet</a></li>
									<li><a href="" ng-click="predicate = 'pubDate'; reverse=true">Time (newest)</a></li> 
									<li><a href="" ng-click="predicate = 'pubDate'; reverse=false">Time (oldest)</a></li>
									<li><a href="">Length</a></li>
									<li><a href="">Rating</a></li>
									<li><a href="">Queue</a></li>
									<li><a href="">Autodelete?</a></li>

								</ul>
							</li>
						</ul>
						</div>
			<div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 main-content" >
				{% verbatim %}
				<div ng-controller="FeedController">

					<div class="row-fluid post" ng-repeat="post in posts | orderBy:predicate:reverse">
						<a ng-click="expandPost($index)">
							<div class="mini" ng-hide="expandedPostIndex == $index">
								<h3>{{post.title}}</h3>
							</div>
						</a>
						<div class="full" ng-show="expandedPostIndex == $index">
								<h3>{{post.title}}</h3>
								<p ng-bind-html="post.content" >{{post.content}}</p>
								<p><a href="{{post.url}}" target="_blank">View source</a></p>
						</div>
					</div>
				</div>
				{% endverbatim %}
			</div>
			<div id="popupWrapper">
				<div id="popupTopic">
					<form action="#" id="form" name="form">
						<h3>Add a topic</h3>
						<hr>
						<input ng-model="topic.name "name="name" placeholder="Topic Name" type="text"><br/>
						<a href="#" class="addTopicBtn" ng-click="addTopic(topic.name)">Add Topic</a>
						<a href="#" class="cancelBtn" ng-click="hidePopup()">Cancel</a>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}