<!DOCTYPE html>
<html>
<body>

<p>Click the button to open a new window called "MsgWindow" with some text.</p>

<button onclick="test1()">Try it</button>
<p id = "time1"></p>

<script>
function test1() {
    var closeTime;
    var myWindow = window.open("", "MsgWindow", "width=400, height=600");
    myWindow.addEventListener("onunload", function(){
        closeTime = new Date();
        return closeTime;
});
    myWindow.document.write("<p>This is 'MsgWindow'. I am 200px wide and 100px tall!</p>");
    document.getElementById("time1").innerHTML = wpm;
}
</script>

</body>
</html>