{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

	<!--Main Section -->
    <div class="container-fluid main-container" ng-controller="UserController">
		<!--Navigation Section -->
		<div class="row-fluid row-offcanvas row-offcanvas-left" ng-controller="NavigationController">
			<div class="col-sm-3 col-md-2">
			</div>

			<div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 main-content" >
				<form method="post" action=".">
					{{form.as_p}}
					<input type="submit" value="Log in">
				</form>
				Not yet a user? <a href="/register">Register here</a>
			</div>
		</div>
	</div>

{% endblock %}