{% extends "base.html" %}

{% block content %}

<!--Main Section -->
<div class="container-fluid main-container">
	<!--Navigation Section -->
	<div class="row-fluid row-offcanvas row-offcanvas-left">
		<div class="col-sm-3 col-md-2">
		</div>

		<div class="col-sm-8 col-sm-offset-3 col-md-9 col-md-offset-2 main-content" >
			{% if form.errors %}
				<p>Your username and password didn't match. Please try again.</p>
			{% endif %}

			{{form.errors}}
			<form method="post" action=".">
				{% csrf_token %}
				{{form.as_p}}
				<input type="submit" value="login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>

			<p>Don't have an account? <a href="/accounts/register">Register here!</a></p>
		</div>
	</div>
</div>

{% endblock %}
