{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
  <h1>Register with RSS Reader</h1>

  {% if registered %}
  <strong>Thank you for registering!</strong>
  <a href="/">Return to the homepage.</a><br />
  {% else %}
  <strong>Register here!</strong><br />

  <style type="text/css">
    ul {
      display: block;
    }
  </style>

  <form id="user_form" method="post" action="/account/register/"
          enctype="multipart/form-data">

      {% csrf_token %}

      <!-- Display each form. The as_p method wraps each element in a paragraph
           (<p>) element. This ensures each element appears on a new line,
           making everything look neater. -->
      {% for field in user_form %}
        <div class="fieldWrapper">
          {{ field.errors }}
          {{ field.label_tag }} {{ field }} {{field.help_text}}
        </div>
      {% endfor %}

      <!-- Provide a button to click to submit the form. -->
      <input type="submit" name="submit" value="Register" />
  </form>
  <a href="/">Return to the homepage</a><br />
  {% endif %}
{% endblock %}
