.footer {
	position: fixed;
	bottom: 0;
	background-color: #f8f8f8;
	padding: 15px 10px;
	/*width: 100%;*/
	z-index:1001;
	border-color: #e7e7e7;
	border-top: #e7e7e7 solid 1px;
}

.text-muted {

		float: bottom;
}

body {
  padding-top: 51px;
	margin-bottom: 81px; /* Height of the footer */
}

.text-center {
  padding-top: 20px;
}
.col-xs-12 {
  background-color: #fff;
}
.main-container {
	padding:0;
	height:100%;
}
.main-content {
	padding:15px;
}

#navbar .navbar-right {
	margin-right: 0;
}
.feeds,
.sidebar ul {
	list-style-type: none;
}
.dropbox li {
  list-style-type: none;
}
.post {
	padding:15px;
	margin-bottom:15px;
	background: #f5f5f5;
}
.post:hover {
	background: #eee;
}
.post-header{
	display: inline;
}
.mini {
	padding:15px;
	width:90%;
	display: inline-block;

}
.full {
	padding: 0px 15px 15px 15px;
}
.full * {
	max-width:100%;
}

@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
	}


	.main-content {

	}
}

/* .feeds {
	display:none;
} */

.login-btn {
	background: #fa5800;
	font-weight: bold;
}
.login-btn:hover {
	background: #EBB12D;
	font-weight: bold;
}

.settings-btn {
	max-height: 10%;
	max-width: 10%;
	padding-left: 5px;
}
.navbar-default .navbar-nav>.login-btn>a {
	color: #fff;
}
.navbar-default .navbar-nav>.login-btn>a:hover {
	color: #fff;
}

#popupWrapper,
#popupWrapperResults {
	display: none;
}

#popupTopic,
#popupTopicResults {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
	z-index:1031;

}
#popupTopic form,
#popupTopicResults form {
	max-width:300px;
	min-width:250px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	background-color:#fff
}
#dimmer
{
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    z-index:1031; /* may not be necessary */
}

.nav li a[class^='editTopic'],
.nav li a[class^='editBtn'],
.nav li a[class^='removeTopic'],
.nav input[class^='editTopic'],
.saveBtn {
	display:none;
}
.error {
	color:#f00;
}
.dropbox {
	float:right;
	padding-right: 28px;
	padding-top: 10px;
}

.searchbox {
	height: 30%;
	width: 100%;
}

#searchInput {
	height: 30%;
	width: 90%;
}

#popupQueueWrapper{
	display: none;
}

#popupQueue {
	position:absolute;
	left:50%;
 }
.onoffswitch {
    position: relative; width: 64px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: right;
		margin:15px 15px 0px 0px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 19px; padding: 0; line-height: 19px;
    font-size: 9px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner .onoffswitch-active {
    padding-left: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
}
.onoffswitch-inner .onoffswitch-inactive {
    padding-right: 15px;
    background-color: #C2C2C2; color: #FFFFFF;
    text-align: right;
}


.onoffswitch-switch {
    display: block; width: 37px; margin: 0px; text-align: center;
    border: 0px solid #999999;border-radius: 0px;
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch-active .onoffswitch-switch {
    background: #FF78AE; left: 0;
}
.onoffswitch-inactive .onoffswitch-switch {
    background: #A1A1A1; right: 0;
}
.onoffswitch-active .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; left: 37px;
    border-style: solid; border-color: #FF78AE transparent transparent #FF78AE; border-width: 9px 6px;
}
.onoffswitch-inactive .onoffswitch-switch:before {
    content: " "; position: absolute; top: 0; right: 37px;
    border-style: solid; border-color: transparent #A1A1A1 #A1A1A1 transparent; border-width: 9px 6px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

/*
.black-swirls {
	float: left;
	max-width:10%;
	max-height: 10%;
	padding-right: 25px;
}*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.topicButton div{
	width:60%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display:inline;
}

span.read{
	color:#686868;
}

span.labelLink{
	color: #428BCA;
	font-weight: normal;
}

span.labelLink:hover{
	color: #2A6496;
	text-decoration: underline;
}

#filterUnread
{
	display: none;
}
#filterUnreadLabel{
	margin-right:5px;
}

a.no-decoration{
	text-decoration: none;
}

.author {
	margin: 0px 0px 10px 0px;
}

.popupBtn {
	margin-top: 10px;
	padding:5px 10px;
	color:#000;
	display: inline-block;
	color: #eee;
}
.popupBtn:hover {
	text-decoration: none;
	color: #fff;
}
.addTopicBtn {
	background: #428bca;
}
.addTopicBtn:hover {
	background: #3672A6;
}
.cancelBtn {
	background: #B8CAEB;
}
.cancelBtn:hover {
	background: #9AA9C4;
}